body{
	background-image: url(image/cheesestore.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.button{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200px;
	width: 200px;
}
h1{
	color: white;
}